.juke-card {
	display: grid;
	padding: 3vw;
	align-items: center;
	justify-items: center;
	aspect-ratio: 1;
	border-radius: 15px;

	&:hover {
		filter: brightness(90%);
	}

	& > p {
		text-align: center;
		text-overflow: ellipsis;
	}
}
